@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.button {
  color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 245, 255, 255;
    --background-start-rgb: 15, 15, 15;
    --background-end-rgb: 15, 15, 15;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.links {
  @apply relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-black dark:after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left;
}
